@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
  --card: #ffffff;
  --card-foreground: #1d1d1d;
  --popover: #ffffff;
  --popover-foreground: #1d1d1d;
  --primary: #4a154b;
  --primary-foreground: #ffffff;
  --secondary: #f9f0ff;
  --secondary-foreground: #1d1d1d;
  --muted: #f4ede4;
  --muted-foreground: #696969;
  --accent: #f9f0ff;
  --accent-foreground: #1d1d1d;
  --destructive: #cc4117;
  --destructive-foreground: #ffffff;
  --border: #e6e6e6;
  --input: #e6e6e6;
  --ring: #4a154b;
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: #f4ede4;
  --sidebar-foreground: #1d1d1d;
  --sidebar-primary: #4a154b;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f9f0ff;
  --sidebar-accent-foreground: #1d1d1d;
  --sidebar-border: #e6e6e6;
  --sidebar-ring: #4a154b;
}

.dark {
  --background: #1d1d1d;
  --foreground: #ffffff;
  --card: #1d1d1d;
  --card-foreground: #ffffff;
  --popover: #1d1d1d;
  --popover-foreground: #ffffff;
  --primary: #d9bdde;
  --primary-foreground: #4a154b;
  --secondary: #481a54;
  --secondary-foreground: #ffffff;
  --muted: #481a54;
  --muted-foreground: #d9bdde;
  --accent: #481a54;
  --accent-foreground: #ffffff;
  --destructive: #cc4117;
  --destructive-foreground: #ffffff;
  --border: #481a54;
  --input: #481a54;
  --ring: #d9bdde;
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: #1d1d1d;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #d9bdde;
  --sidebar-primary-foreground: #4a154b;
  --sidebar-accent: #481a54;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #481a54;
  --sidebar-ring: #d9bdde;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}